nbras_all_mid.txt
nbras_all_nor.txt
sami_all_nor_2022.txt
sami_mid_2022.txt

/images/ecg/images
/images/ecg/matrices

/images/reo/images
/images/reo/matrices

/images_with_labels/ecg/images
/images_with_labels/ecg/matrices

/images_with_labels/reo/images
/images_with_labels/reo/matrices