nbras_all_mid.txt
nbras_all_nor.txt
sami_all_nor_2022.txt
sami_mid_2022.txt

/images/ecg/images
/images/ecg/matrices

/images/reo/images
/images/reo/matrices

/images_with_labels/ecg/images
/images_with_labels/ecg/matrices

/images_with_labels/reo/images
/images_with_labels/reo/matrices

/images_with_labels_padded/reo/images
/images_with_labels_padded/reo/matrices

/images_with_labels_padded/ecg/images
/images_with_labels_padded/ecg/matrices

/images_with_labels_padded_spec_only_16_scales/reo/images
/images_with_labels_padded_spec_only_16_scales/reo/matrices

/images_with_labels_padded_spec_only_16_scales/ecg/images
/images_with_labels_padded_spec_only_16_scales/ecg/matrices

/images_with_labels_padded_spec_only_32_scales/reo/images
/images_with_labels_padded_spec_only_32_scales/reo/matrices

/images_with_labels_padded_spec_only_32_scales/ecg/images
/images_with_labels_padded_spec_only_32_scales/ecg/matrices

/images_with_labels_padded_spec_only_512_scales_overlap_100/reo/images
/images_with_labels_padded_spec_only_512_scales_overlap_100/reo/matrices

/images_with_labels_padded_spec_only_512_scales_overlap_100/ecg/images
/images_with_labels_padded_spec_only_512_scales_overlap_100/ecg/matrices

/images_with_labels_padded_signal_only_512_scales_overlap_1500_back/reo/images
/images_with_labels_padded_signal_only_512_scales_overlap_1500_back/reo/matrices

/images_with_labels_padded_signal_only_512_scales_overlap_1500_back/ecg/images
/images_with_labels_padded_signal_only_512_scales_overlap_1500_back/ecg/matrices

/images_with_labels_padded_signal_only_512_scales_overlap_100/reo/images
/images_with_labels_padded_signal_only_512_scales_overlap_100/reo/matrices

/images_with_labels_padded_signal_only_512_scales_overlap_100/ecg/images
/images_with_labels_padded_signal_only_512_scales_overlap_100/ecg/matrices

embeddings_with_filenames_upd_16_spec_padded.csv
embeddings_with_filenames_upd_32_signal_padded.csv
embeddings_with_filenames_upd_32_spec_padded.csv
embeddings_with_filenames_upd_512_signal_padded.csv
embeddings_with_filenames_upd_512_spec_padded_continue.csv